/* @nup@m */
        a {
            text-decoration: none;
        }

        a small,
        a svg {
            display: block;
            margin: 0 auto;
            text-align: center;
        }

        a small {
            font-size: .6rem;
        }

        .bg-duo {
            background: rgb(255, 255, 255);
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 50%);
        }

        /* @nup@m */
        /* Yellow Color Code : #FFEA00 */
        .y-top-bg {
            background: rgb(255, 234, 0);
            background: linear-gradient(185deg, rgba(255, 234, 0, 1) 40%, rgba(255, 255, 255, 0) 40%);
        }

        .y-bottom-bg {
            background: rgb(255, 234, 0);
            background: linear-gradient(5deg, rgba(255, 234, 0, 1) 40%, rgba(255, 255, 255, 0) 40%);
        }

        .y-left-bg {
            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 50%, rgba(255, 234, 0, 1) 50%);
        }

        .y-right-bg {
            background: rgb(255, 255, 255);
            background: linear-gradient(270deg, rgba(255, 255, 255, 0) 50%, rgba(255, 234, 0, 1) 50%);
        }

        .y-mid-bg {
            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 40%, rgba(255, 234, 0, 1) 40%, rgba(255, 234, 0, 1) 60%, rgba(255, 255, 255, 0) 60%);
        }

        

        #bg-1 {
            background-image: url(https://images.pexels.com/photos/704214/pexels-photo-704214.jpeg?auto=compress&cs=tinysrgb&w=1600);
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }

        #bg-2 {
            background-image: url(C:\Users\kakum\Downloads\kranthi\megatron.png);
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }

        #bg-2 {
            background-image: url(hunter2.jpg);
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }

        #bg-3 {
            background: rgb(255, 255, 255);
            background: linear-gradient(135deg, rgba(255, 255, 255, 0) 70%, rgba(17, 116, 0, 0.5) 70%);
        }

        #bg-4 {
            background: rgb(255, 255, 255);
            background: linear-gradient(45deg, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.25) 70%);
        }

        /* ul.lead li {
            list-style-type: "👉";
            padding: 5px 10px;
        } */

        .white-text-shadow {
            text-shadow: 5px 5px 5px #000;
        }

        .color-box {
            width: 38px;
            height: 38px;
        }

        .card-head-bg {
            background-image: url(res/royal-enfield-bg.png);
            background-size: contain;
            background-position: top right;
            background-repeat: no-repeat;
            height: 150px;
        }
